#root {
  max-width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  min-height: 100vh;
  overflow-x: auto;
}

#game-container {
  width: 95vw;
  height: 95vh;
  margin: 0 auto;
  position: relative;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} 